#circul{
   width: 200px;
   height: 200px;
   border-radius: 50%;
    background-color: red;
    position: relative;
}
#main{
    margin-left: auto;
    margin-right: auto;
}
#square{
    width: 100px;
    height: 100px;
    background-color: blue;
   position: absolute;
   top: 25%;
   left: 25%;
}
button{
    border: 1px solid black;
    
}
#button1{
    padding: 5px;
}
#button2{
    padding: 5px;
}
.div{
    margin-bottom: 20px;
    margin-top: 20px;
    margin-left: 40px;
}